body {
  font-family: arial, Sans-serif;
  color: #333333;
}

.filter {
  border: 1px solid #CCCCCC;
  width: 150px;
  padding: 10px;
  float: left;
}
.list {
  margin-left: 180px;
}
.numResults {
  font-weight: bold;
  margin-bottom: 10px;
}
.legislator {
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
}
  .legislator img {
    width: 40px;
    float: left;
  }
  .legislator .name {
    float: left;
    margin-left: 10px;
  }
  .legislator .committees {
    clear: both;
    padding: 10px 0 0;
    margin: 0 0 0 60px;
  }
.hover {
  cursor: pointer;
}